.page-container {
    padding: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
    box-sizing: border-box;
}

.containerD {
    display: flex;
    justify-content: center;
    gap: 15px; 
}

.containerD .cardD {
    border-radius: 20px;
    height: 200px; /* Ajusta a altura total */
    width: 250px; 
    background-color: #0d7e2e;
    overflow: hidden;
    transition: .3s all ease;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;
    text-align: center;
}

.containerD .cardD img {
    max-width: 80%; /* Reduz o tamanho máximo da imagem */
    max-height: 60%; /* Define a altura máxima da imagem */
    object-fit: cover;
    transition: .3s ease;
}

.containerD .cardD .textD {
    color: white; /* Torna o texto branco */
    font-size: 16px; 
    font-weight: bold;
    margin-top: 10px; /* Espaçamento entre a imagem e o texto */
}

.containerD .cardD:hover {
    width: 300px; 
    height: 220px; 
}

.containerD .cardD:hover img {
    opacity: 0.7; /* Mantém a imagem visível, mas um pouco mais clara ao passar o mouse */
}

.containerD .cardD:hover .textD {
    opacity: 1; 
    visibility: visible;
}