body-pt1 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.hero-pt1 {
    background-color: #0d7e2e;
    color: white;
    padding: 50px;
    text-align: center;
    position: relative;
}

.logo-section-pt1 {
    margin-bottom: 20px;
}

.image-pt1 {
    max-width: 500px;
    height: auto;
}

.slogan-pt1 {
    font-size: 1.2em;
    margin-top: 1px;
    font-weight: bold;
}

.main-text-pt1 {
    font-size: 2.5em;
    margin: 20px 0;
}

.sub-text-pt1 {
    font-size: 1.1em;
    margin: 20px auto; 
    max-width: 800px;
}

.buttons-pt1 {
    margin-top: 20px;
}

.action-btn-pt1 {
    background-color: #8BC540;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.action-btn-pt1:hover {
    background-color: #7aa138;
}

.iniciativa-pt1 {
    padding: 40px;
    text-align: center;
    background-color: #ffffff;
}

.titulo-iniciativa-pt1 {
    font-size: 2em;
    color: #0d7e2e;
    margin-bottom: 20px;
}

.descricao-iniciativa-pt1 {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto; /* Adicionada margem para centralizar */
    padding: 0 20px; /* Adiciona um pouco de espaçamento nas laterais */
}
