.suggestion-containerS {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    width: 60%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

.suggestion-containerS h1 {
    text-align: center;
    color: green;
    margin-bottom: 20px;
}

.suggestion-image-sectionS {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.suggestion-iconS {
    width: 190px;
    margin-left: 20px;
}

.function-descriptionS h2 {
    color: green;
    margin-bottom: 10px;
    padding-left: 40%;
}

.function-descriptionS p {
    padding-left: 60px;
    font-size: 85%;
}

.suggestion-formS {
    display: flex;
    flex-direction: column;
}

.suggestion-formS h3 {
    margin-bottom: 10px;
}

.suggestion-formS label {
    margin-top: 15px;
    font-weight: bold;
}

.suggestion-formS input,
.suggestion-formS textarea {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.suggestion-feedback-sectionS {
    display: flex;
    justify-content: space-between;
}

.negativeS,
.positiveS {
    width: 48%;
}

.suggestion-formS button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 90px;
    font-size: 16px;
}

.suggestion-formS button:hover {
    background-color: darkgreen;
}
