/* Reset de margem e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do contêiner de sugestões */
.suggestion-containerS {
    font-family: Arial, sans-serif;
    background-color: #e0fce0; /* Cor de fundo da sugestão */
    color: #333; /* Cor do texto */
    width: 60%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto; /* Para centralizar a seção */
}

/* Estilo do título */
.h1S {
    text-align: center;
    color: green; /* Cor do título */
    margin-bottom: 20px;
}

/* Seção da imagem de sugestão */
.suggestion-image-sectionS {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilo do ícone de sugestão */
.suggestion-iconS {
    width: 190px;
    margin-left: 20px; /* Margem da esquerda */
}

/* Descrição da função */
.function-descriptionS h2 {
    color: green; /* Cor do subtítulo */
    margin-bottom: 10px;
    text-align: center; /* Centralizar texto */
}

.function-descriptionS p {
    padding-left: 10px; /* Margem da esquerda */
    font-size: 85%; /* Tamanho da fonte */
}

/* Estilo do formulário de sugestões */
.suggestion-formS {
    display: flex;
    flex-direction: column;
}

/* Estilo do cabeçalho do formulário */
.h3S {
    margin-bottom: 10px; /* Margem inferior */
}

/* Estilo dos rótulos do formulário */
.labelS {
    margin-top: 15px; /* Margem superior */
    font-weight: bold; /* Negrito */
}

/* Estilo dos campos de entrada e área de texto */
.inputS,
.textareaS {
    margin-top: 5px; /* Margem superior */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #ccc; /* Borda */
    width: 100%; /* Largura total */
}

/* Seção de feedback da sugestão */
.suggestion-feedback-sectionS {
    display: flex;
    justify-content: space-between; /* Espaçamento entre os itens */
}

/* Estilo dos campos de feedback */
.negativeS,
.positiveS {
    width: 48%; /* Largura de 48% para as seções de feedback */
}

/* Estilo do botão de envio */
.buttonS {
    padding: 10px; /* Espaçamento interno */
    background-color: green; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    margin: 10px 0; /* Margens verticais */
    font-size: 16px; /* Tamanho da fonte */
}

/* Efeito hover do botão */
.buttonS:hover {
    background-color: darkgreen; /* Cor do botão ao passar o mouse */
}
