@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');





footer {
    background-color: #DBFEDD;
    position: absolute;
    bottom: auto;
    width: 100%;

}

.trojan {
    text-align: center;
}

.rodape {
    padding-top: 40px;
    padding-bottom: 30px;
}

.footlink {
    margin-bottom: 4px;
    font-weight: bold;  
}

.fotpng {
    width: 20px;
}

.coloridao {
    color: #0D7E2E;
}

.link-chato {
    padding-left: 100px;
}

.link-chato2 {
    padding-left: 95px;
}

.link-chato2 > a {
    margin-bottom: 7px;
}

.emo {
    font-size: 14px;
    font-weight: 500;
}

#map {
    width: 100%;
    background-color: rgb(255, 253, 253);
}

.map-responsive{
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    border-radius: 25px 25px 0px 0px;
    border-right:0 ;
    border-left: 0;
}

.map-responsive iframe {
    margin-top: 2%;
    margin-left:5%;
    height:80%;
    width:40%;
    position: absolute;

}

.headache {
    margin-top: 50px;
    text-align: center;
}

.headache h1 {
    font-size: 55px;
    color: #0D7E2E;
    font-weight: bold;
}

.headache p {
    font-size: 25px;
}

.footbuco {
    background-color: #0D7E2E;
    color: white;
    font-size: larger;
    font-weight: 450;
}

.footbuco:hover {
    background-color: #12a33d;
    color: white;
}

.footbutu {
    margin-top: 50px;
    margin-left: 20px;
}

.footbackops {
    gap: 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    font-family: "DM Sans", sans-serif;
    background-color: #0D7E2E; 
    color: #fff;
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    width: 100%; 
    position: relative; 
    z-index: 1000; 
}

.navbar-container {
    width: 100%; 
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: space-between; 
}

.nav-logo {
    margin-left: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5px; 
    flex-grow: 1;
    margin-top: 15px;
}

.nav-links li {
    display: flex; 
    align-items: center; 
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px; 
    padding: 10px 15px; 
    white-space: nowrap; 
}

.nav-links li a:hover {
    color: #ddd;
    background-color: #7ed957; 
    border-radius: 4px; 
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #28a745;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    list-style: none;
    margin-top: 180px;

}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Pesquisa */
.pesquisaN {
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-left: 20px;
}

.N input {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.pesquisaN button {
    background-color: transparent; 
    border: none;
    cursor: pointer;
}

.perfil-iconN {
    margin-left: 25px; /* Aumentado para mais espaço antes do ícone de perfil */
    margin-right: 60px;
}

.perfil-iconN a {
    color: #fff; 
    font-size: 24px;
}

#cidade2 {
    display: none;
}

/* Responsivo */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column; 
        display: none; 
    }
}